#note-book {
  .vocabs {
    .vocab-title {
      display: inline-block;
    }

    .card-body {
      padding: 0.5rem 0.5rem;

      .media-sample {
        tooltip-inner {
          max-width: 400px;
        }

        p {
          font-weight: bold;
          margin: 0;
        }

        li {
          padding: 0.1rem;

          .form-check-input {
            position: absolute;
            right: 1rem;
          }
        }
      }
    }
  }

  #loadmore-btn {
    margin: 15px 0px;
    min-width: 200px;
  }
}