.app-body{
  height: 100%;
  margin: 0;
  max-width: 100%;
}

#subtitlePlayer {
  height: 90%;

  #videoTitle {
    padding: 20px;
  }

  #playerTime {
    .time-ms {
      font-size: 0.8em;
      color: grey;
    }
    .time-sec {
      font-size: 1.2em;
    }
    .time {
      font-size: 1.3em;
      font-weight: bold;
    }
  }

  #subtitleDisplay {
    font-size: 1em;

    div {
      margin: 30px 10px;
    }

    p {
      margin: 0;
    }
    #subtitleText_present {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  .button-bar {
    padding-bottom: 5%;
    .col {
      padding-left: 5px;
      padding-right: 5px;
    }
    #PlayBtn {
      min-width: 100px;
      font-size: 1.6em;
    }
    #backward1sec-btn,
    #forward1sec-btn {
      width: 90%;
      max-width: 80px;
      min-width: 40px;
      height: 45px;
      font-weight: 700;
    }
    #backward05sec-btn,
    #forward05sec-btn {
      width: 90%;
      max-width: 80px;
      min-width: 40px;
      height: 40px;
    }
  }

  #inputTime {
    width: 30%;
    margin: auto;
  }
}
