#subtitlePlayer {
  height: 90%;

  .part1 {
    height: 20%;
  }

  .part3 {
    height: 10%;
  }

  .part2 {
    height: 70%;
  }

  #enableAutoPlay {
    margin: 20px;
  }

  #videoTitle {
    padding: 10px;
  }

  .msg {
    font-size: 0.6em;
    white-space: nowrap;
    overflow: scroll;
  }

  #playerTime {
    p {
      margin: 0;
    }

    .timecounter {
      position: absolute;
      right: 35%;

      .time-ms {
        font-size: 0.7em;
        color: grey;
      }

      .time-sec {
        font-size: 1em;
      }
    }

    .time {
      font-size: 1.3em;
      font-weight: bold;
    }

    #inputTime {
      min-width: 150px;
      width: 30%;
      margin: auto;
    }
  }

  #subtitleDisplay {
    font-size: 1.2em;
    height: 100%;
    overflow: scroll;

    div {
      margin: 30px 10px;
    }

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      li {
        margin: 6px 0px;
      }
    }

    .emptySub {
      height: 30vh;
    }
  }

  .button-bar {
    padding-bottom: 5%;

    .col {
      padding-left: 5px;
      padding-right: 5px;
    }

    #PlayBtn {
      min-width: 100px;
      font-size: 1.6em;
    }

    #backward1sec-btn,
    #forward1sec-btn {
      width: 90%;
      max-width: 80px;
      min-width: 40px;
      height: 45px;
      font-weight: 700;
    }

    #backward05sec-btn,
    #forward05sec-btn {
      width: 90%;
      max-width: 80px;
      min-width: 40px;
      height: 40px;
    }
  }
}
