#subtitlePlayer {
  height: 100%;

  #videoTitle {
    padding: 20px;
  }

  #playerTime {
    .time-ms {
      font-size: 0.8em;
      color: grey;
    }
    .time-sec {
      font-size: 1.2em;
    }
    .time {
      font-size: 1.3em;
      font-weight: bold;
    }
  }

  button#PlayBtn {
    margin: 25px;
    min-width: 150px;
    font-size: 2em;
  }
  #backward1sec-btn,
  #forward1sec-btn {
      margin: auto 25px;
    width: 50px;
    height: 50px;
  }

  #inputTime{
      width: 30%;
      margin: auto;
  }
}
